<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DNDBlazorApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
    <ul class="nav-list">
        <li class="nav-item">
            <a href="/" class="nav-link">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </a>
        </li>
        <li class="nav-item">
            <a href="/counter" class="nav-link">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </a>
        </li>
        <li class="nav-item">
            <a href="/createSurvey" class="nav-link">
                <span class="oi oi-plus" aria-hidden="true"></span> Create Survey
            </a>
        </li>
        <li class="nav-item">
            <a href="/viewSurvey" class="nav-link">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> View Survey
            </a>
        </li>
    </ul>
</nav>

</div>

